<!DOCTYPE html>
<html>

<head>
    <title>Reego</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="icon" src="icon.png">

    <script src="https://cdn.tailwindcss.com"></script>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body class="bg-stone-800">
    <%= render partial: 'shared/navbar' %>
    <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
        <%= yield %>
    </div>
</body>

</html>